:root {
	--toastify-icon-color-success: #00df70 !important;
	--toastify-icon-color-error: #fe3939 !important;
	--toastify-icon-color-warning: #ffc007 !important;
	--toastify-icon-color-info: #00bcd4 !important;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-zoom-icon,
.apexcharts-pan-icon,
.apexcharts-reset-icon {
	display: none;
}

.Toastify__toast {
	min-height: fit-content !important;
}

.Toastify__toast-body > div:last-child {
	font-size: 0.9rem;
}

.Toastify__toast-theme--light {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
	border-radius: 3px !important;
}

.Toastify__toast--success {
	border-left: 5px solid var(--toastify-icon-color-success) !important;
}

.Toastify__toast--error {
	border-left: 5px solid var(--toastify-icon-color-error) !important;
}

.Toastify__toast--warning {
	border-left: 5px solid var(--toastify-icon-color-warning) !important;
}

.Toastify__toast--info {
	border-left: 5px solid var(--toastify-icon-color-info) !important;
}

.Toastify__close-button {
	margin: auto;
}

.Toastify__close-button > svg {
	height: 18px !important;
	width: 18px !important;
}
